<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></taitle>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- nav %>
    <h1><%= title %></h1>

    <% if (messages && messages.length > 0) { %>
        <div class="flash-messages">
            <% messages.forEach(message => { %>
                <p><%= message %></p>
            <% }) %>
        </div>
    <% } %>

    <% if (errors) { %>
        <ul class="notice">
          <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
          <% }) %>
        </ul>
      <% } %>
      

    <form action="/account/register" method="POST">
        <label for="account_firstname">First Name:</label>
        <input type="text" name="account_firstname" id="accountFirstname" required value="<%= locals.account_firstname %>">

        <label for="account_lastname">Last Name:</label>
        <input type="text" name="account_lastname" id="accountLastname" required value="<%= locals.account_lastname %>">

        <label for="account_email">Email:</label>
        <input type="email" name="account_email" id="accountEmail" required value="<%= locals.account_email %>">

        <label for="account_password">Password:</label>
        <input type="password" id="account_password" name="account_password" required 
            pattern="(?=.*\d)(?=.*[A-Z])(?=.*[\W_]).{12,}" 
            title="Password must be at least 12 characters long and contain at least one capital letter, one number, and one special character.">

        <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="/account/login">Login here</a></p>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
