<h1><%= vehicle.name %></h1>
<img src="<%= vehicle.image %>" alt="<%= vehicle.name %>" />
<p><strong>Price:</strong> $<%= vehicle.price.toLocaleString() %></p>
<p><strong>Description:</strong> <%= vehicle.description %></p>
<a href="/">Back to Home</a>
